<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>TpCommandes</display-name>
	<jsp-config>
		<jsp-property-group>
			<url-pattern> *.jsp </url-pattern>
			<include-prelude>/WEB-INF/jstlLib.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	<servlet>
		<servlet-name>Authentification</servlet-name>
		<servlet-class>servlets.Authentification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authentification</servlet-name>
		<url-pattern>/Authentification</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Menu</servlet-name>
		<servlet-class>servlets.Menu</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Menu</servlet-name>
		<url-pattern>/Menu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AjoutClients</servlet-name>
		<servlet-class>servlets.AjoutClients</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutClients</servlet-name>
		<url-pattern>/AjoutClients</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AjoutCommandes</servlet-name>
		<servlet-class>servlets.AjoutCommandes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutCommandes</servlet-name>
		<url-pattern>/AjoutCommandes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AjoutArticles</servlet-name>
		<servlet-class>servlets.AjoutArticles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutArticles</servlet-name>
		<url-pattern>/AjoutArticles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SupprArticles</servlet-name>
		<servlet-class>servlets.SupprArticles</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupprArticles</servlet-name>
		<url-pattern>/SupprArticles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SupprClients</servlet-name>
		<servlet-class>servlets.SupprClients</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupprClients</servlet-name>
		<url-pattern>/SupprClients</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SupprCommandes</servlet-name>
		<servlet-class>servlets.SupprCommandes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupprCommandes</servlet-name>
		<url-pattern>/SupprCommandes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Deco</servlet-name>
		<servlet-class>servlets.Deco</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deco</servlet-name>
		<url-pattern>/Deco</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Commande</servlet-name>
		<servlet-class>servlets.Commande</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Commande</servlet-name>
		<url-pattern>/Commande</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LigneCommande</servlet-name>
		<servlet-class>servlets.LigneCommande</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LigneCommande</servlet-name>
		<url-pattern>/LigneCommande</url-pattern>
	</servlet-mapping>


</web-app>